/* 
Proceeding with Good Approach : 
Desktop First Apprach
 using the analytics data for most used devices wrt to their width

 0-600px : Phone
 600-900px : Tablet Portrait
 900-1200px : Tablet Landscape
1200-1800 : Desktop (where normal styles apply)
1800+ : Big screens


*/
/* $breakpoint arguments 
-phone
-tab-port 
-tab-land
-big-desktop

1em = 16px (as rem does not work in some browssers)

Order: Base + typography > general layout + grid > page layout >componenets
*/
:root {
  --h1: calc(2rem + 1vw);
  --h2: calc(5rem + 1vw);
  --h3: calc(3rem + 1vw);
  --h4: calc(2.4rem + 1vw);
  --p: calc(1rem + 1vw);
  --bigtext: calc(6rem + 1vw);
  --shadow-dark: 1rem 1rem 4rem rgba(0, 0, 0, 0.5),
    -1rem -1rem 4rem rgba(0, 0, 0, 0.5);
  --line: 1px solid var(--color-grey-light-2);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.05); }

/* Global Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 1800px) {
    html {
      font-size: 75%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

li,
button,
label,
input,
p {
  font-size: var(--text); }

ul {
  list-style: none; }

a {
  text-decoration: none; }

::selection {
  background-color: #567ce4;
  color: #fff; }

body {
  background-color: #17181a;
  font-family: "Montserrat", sans-serif;
  max-width: 90%;
  margin: auto;
  overflow-x: hidden; }

.opening {
  animation: opening 1s ease-in-out; }

@keyframes opening {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeinleft,
.fadeinright,
.opening {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.fadeinleft {
  animation: fadeinleft 1s ease-in-out 0.5s; }

@keyframes fadeinleft {
  0% {
    opacity: 0;
    transform: translateX(-20%);
    filter: blur(10px); }
  80% {
    opacity: 1;
    transform: translateX(10%);
    filter: blur(3px); }
  100% {
    opacity: 1;
    transform: translateX(0%); } }

.fadeinright {
  animation: fadeinright 1s ease-in-out 0.5s; }

@keyframes fadeinright {
  0% {
    opacity: 0;
    transform: translateX(20%);
    filter: blur(10px); }
  80% {
    opacity: 1;
    transform: translateX(-10%);
    filter: blur(3px); }
  100% {
    opacity: 1;
    transform: translateX(0%); } }

.moveinup {
  animation: moveinup 1s ease-in-out 1s backwards; }

@keyframes moveinup {
  0% {
    opacity: 0;
    transform: translateY(20%); }
  100% {
    opacity: 1;
    transform: translateY(0%); } }

.u-tc {
  text-align: center !important; }

.u-mb-2 {
  margin-bottom: 2rem !important; }

.u-mb-4 {
  margin-bottom: 4rem !important; }

.u-mb-6 {
  margin-bottom: 6rem !important; }

.u-mb-8 {
  margin-bottom: 8rem !important; }

.u-mt-4 {
  margin-top: 4rem !important; }

h1, h2, h3, h4, h5 {
  font-family: "Abril Fatface", cursive;
  font-weight: 400; }

li,
button,
label,
input,
p {
  font-family: "Montserrat", sans-serif;
  font-weight: 100; }

h1 {
  font-size: var(--h1); }

h2 {
  font-size: var(--h2); }

h3 {
  font-size: var(--h3); }

h4 {
  font-size: var(--h4); }

h5 {
  font-size: var(--h5); }

li,
button,
label,
input,
p {
  font-size: var(--p); }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
  font-size: 1.8rem;
  cursor: pointer; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn::after {
  content: " ";
  display: inline-block;
  border-radius: 0.5rem;
  position: absolute;
  font-size: 1.8rem;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.2s; }

.btn--primary {
  background-color: #17181a;
  color: #faf9f9;
  border: 0.2rem solid #faf9f9;
  padding: 1rem 2rem;
  border-radius: 0.5rem; }
  @media only screen and (max-width: 68.75em) {
    .btn--primary {
      width: 60%;
      margin: 0 auto; } }
  .btn--primary::after {
    background-color: #567ce4; }

.btn--secondary {
  background-color: #567ce4;
  color: #faf9f9; }
  .btn--secondary::after {
    background-color: #567ce4; }

.btn-text, .btn-text:link, .btn-text:visited {
  text-transform: uppercase;
  text-decoration: none;
  color: #567ce4;
  border-left: 2px solid #567ce4;
  padding: 1rem;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
  font-size: var(--text);
  font-weight: 700;
  cursor: pointer;
  overflow: hidden; }

.btn-text:active, .btn-text:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn-text:hover {
  transform: translateY(-3px);
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn-text:hover::after {
    transform: translateY(0%); }

.btn-text::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s;
  transform: translateX(-100%);
  background: #567ce4;
  z-index: -1; }

.section-header {
  z-index: 2 !important;
  position: relative; }

.header {
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
  z-index: 5 !important; }
  .header__logo {
    color: #fff; }
  .header__burger--line1, .header__burger--line2 {
    height: 0.2rem;
    width: 3rem;
    background: #fff;
    margin: 0.5rem;
    pointer-events: none; }

.scrollmagic-pin-spacer {
  position: static !important; }

body.hide {
  overflow: hidden; }

.section-fashion {
  min-height: 90vh; }

.fashion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 80%;
  margin: auto;
  margin-top: 5rem;
  position: relative;
  flex-wrap: wrap;
  height: 100vh; }
  @media only screen and (max-width: 68.75em) {
    .fashion {
      width: 100%;
      text-align: center; } }
  .fashion-text {
    flex: 1 0 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end; }
    .fashion-text__title {
      font-size: 10rem;
      font-family: "Montserrat", sans-serif;
      font-weight: 500; }
      @media only screen and (max-width: 68.75em) {
        .fashion-text__title {
          margin: 2rem 0; } }
      .fashion-text__title--1 {
        color: #ff8b5d; }
      .fashion-text__title--2 {
        color: #567ce4; }
      .fashion-text__title--3 {
        color: #a76ee7; }
    .fashion-text p {
      padding: 2rem;
      margin-bottom: 5rem; }
      @media only screen and (max-width: 68.75em) {
        .fashion-text p {
          padding: 0; } }
  .fashion-image {
    flex: 0.5 0 30rem;
    height: 65%; }
    .fashion-image img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .fashion-number {
    font-size: 15rem;
    color: #faf9f9;
    opacity: 0.5;
    position: absolute;
    left: 45%;
    bottom: 5%; }

.section-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1 !important;
  background: #fff;
  clip-path: circle(50px at 100% -10%);
  -webkit-clip-path: circle(50px at 100% -10%); }

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 90%;
  margin: auto;
  padding: 5rem; }
  @media only screen and (max-width: 68.75em) {
    .nav-bar {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start; } }
  .nav-bar__links {
    flex: 1 1 30rem;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start; }
    @media only screen and (max-width: 68.75em) {
      .nav-bar__links {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 55vw;
        height: 20vh; } }
    .nav-bar__links li {
      font-size: 6rem;
      font-weight: 600;
      position: relative; }
      @media only screen and (max-width: 68.75em) {
        .nav-bar__links li {
          font-size: 3rem; } }
      .nav-bar__links li a {
        color: #17181a; }
    .nav-bar__links li::after {
      content: "";
      bottom: -1rem;
      left: 0;
      width: 2rem;
      background: #17181a;
      height: 1rem;
      opacity: 0;
      position: absolute;
      transition: all 0.5s ease-in-out; }
    .nav-bar__links li:hover::after {
      width: 100%;
      opacity: 1; }
  .nav-bar__contact {
    width: 55vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start; }
    .nav-bar__contact h2 {
      font-family: "Montserrat", sans-serif;
      font-size: 6rem;
      font-weight: 600; }
    .nav-bar__contact .form {
      width: 100%; }
      .nav-bar__contact .form-inputs {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; }
      .nav-bar__contact .form input {
        width: 48%; }
      .nav-bar__contact .form textarea {
        width: 100%;
        margin: 2rem 0; }

@media only screen and (max-width: 68.75em) {
  main {
    width: 100%;
    margin: 0; } }

.slide {
  min-height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 68.75em) {
    .slide {
      display: block;
      width: 100%;
      text-align: center; } }

.mountain {
  flex-wrap: wrap;
  background: #17181a; }
  .mountain-img {
    flex: 1 1 25rem;
    position: relative;
    overflow: hidden; }
    @media only screen and (max-width: 68.75em) {
      .mountain-img {
        padding-top: 2rem; } }
    .mountain-img__image {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .mountain-desc {
    flex: 1 1 25rem;
    padding-left: 5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    min-height: 50vh; }
    @media only screen and (max-width: 68.75em) {
      .mountain-desc {
        padding: 0;
        min-height: 50vh;
        text-align: center;
        align-items: center; } }
    .mountain-desc__title {
      overflow: hidden;
      position: relative; }
      .mountain-desc__title-spanner--mountain {
        color: #567ce4; }
      .mountain-desc__title-spanner--hike {
        color: #ff8b5d; }
      .mountain-desc__title-spanner--fashion {
        color: #a76ee7; }
      .mountain-desc__title-swipe {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: lightblue;
        position: absolute;
        mix-blend-mode: darken;
        transform: translateY(100%); }
        .mountain-desc__title-swipe--1 {
          background: #567ce4; }
        .mountain-desc__title-swipe--2 {
          background: #ff8b5d; }
        .mountain-desc__title-swipe--3 {
          background: #a76ee7; }
    .mountain-desc p {
      padding: 3rem 0;
      color: #ccc; }
      @media only screen and (max-width: 68.75em) {
        .mountain-desc p {
          padding: 1rem 0.5rem;
          text-align: center; } }

.mountain-img__reveal,
.mountain-desc__reveal {
  position: absolute;
  width: 100%;
  height: 200%;
  background: #17181a;
  left: 0;
  top: -10%;
  backface-visibility: hidden;
  transition: all 1s ease-in-out; }

.cursor {
  width: 3rem;
  height: 3rem;
  border: 2px solid #fff;
  border-radius: 5rem;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.5s ease-in-out;
  transition-property: background, transform;
  transform-origin: 80% 80%; }
  .cursor__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.5rem; }

.cursor.header--active {
  background: #567ce4;
  transform: scale(3);
  z-index: -1; }

.cursor.explore--active {
  background: #fff;
  transform: scale(3); }

.swipe {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateX(-100%); }
  .swipe--1 {
    background: #567ce4;
    z-index: 5; }
  .swipe--2 {
    background: #ff8b5d;
    z-index: 4; }
  .swipe--3 {
    background: #a76ee7;
    z-index: 3; }

/* */
