.section-header {
  z-index: 2 !important;
  position: relative;
}
.header {
  min-height: 10vh;
  @include flex(row, space-between, center);
  padding: 3rem 0;
  z-index: 5 !important;

  &__logo {
    color: $color-white;
  }

  &__burger {
    &--line1,
    &--line2 {
      height: 0.2rem;
      width: 3rem;
      background: $color-white;
      margin: 0.5rem;
      pointer-events: none;
    }
  }
}

// .active {
//   transform: translate(200px, 100px);
//   color: yellow;
// }

.scrollmagic-pin-spacer {
  position: static !important;
}

body.hide {
  overflow: hidden;
}

html {
  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: $color-grey-dark-1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $color-primary;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $color-secondary;
  }
}
