/* Global Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  font-size: 62.5%; //1rem = 10px

  @media only screen and (max-width: 1800px) {
    font-size: 75%;
  }
  @media only screen and (max-width: $bp-largest) {
    font-size: 56.25%;
  }
  @media only screen and (max-width: $bp-medium) {
    font-size: 50%;
  }
}

li,
button,
label,
input,
p {
  font-size: var(--text);
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}

body {
  background-color: $color-grey-dark;
  font-family: $font-secondary;
  max-width: 90%;
  margin: auto;
  overflow-x: hidden;
}
